# Load Data

In [1]:
# Read in data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import re
import time
import datetime

In [2]:
# read in data
data21 = pd.read_csv("ig_data-2024/ig_data_09-2024_u.csv")
data22 = pd.read_csv("ig_data-2024/ig_data_10-2024_u.csv")
data23 = pd.read_csv("ig_data-2024/ig_data_11-2024_u.csv")
data24 = pd.read_csv("ig_data-2024/ig_data_12-2024_u.csv")

In [3]:
datasets = [
    data21,
    data22,
    data23,
    data24,
]

In [4]:
# Concatenate all datasets
data = pd.concat(datasets)

In [5]:
data

,date,profile_id,followers,posts,engagement,likes,comments,reach,impressions
0,2024-09-01,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
1,2024-09-01,75dd0da33d47775be08834908cd125afc9280c0366eb14...,76,0,0,0,0,0,0
2,2024-09-01,b6e446a0e81a22ede72ba010065997e2432ccc6b1531e4...,1734,0,0,0,0,0,0
3,2024-09-01,6fe810c3928442e86f96e6275da9aa980bfade0190b69c...,18887,0,0,0,0,0,0
4,2024-09-01,397aa464ea52123ce154d1fd9df5d3d71e53edffbf6a80...,447816,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
547988,2024-12-31,8c1ac76cb45374c9710165d154d153ddf48bc30c253c8e...,5905,0,0,0,0,0,0
547989,2024-12-31,834715aec99b1e9be4feccadeea4712f1cde42d649664d...,211245,1,345,337,8,10157,11172
547990,2024-12-31,94528532ec6bee015266fdaeb9cd570a6fbf6e3a2dfbc2...,1660,0,0,0,0,0,0
547991,2024-12-31,0597c04c318d668379c1d549c31931c56838f6865ae7f3...,10084,1,28,28,0,2914,3205
547992,2024-12-31,9930371f6b926fde86bba87f2de25c062753a81f1b702d...,1320781,0,0,0,0,0,0

In [6]:
data["profile_id"].unique()

array(['16878049202c47434cb7f130c7f990581f4c57e8de329cb0be111c9b974d50ed',
       '75dd0da33d47775be08834908cd125afc9280c0366eb14d4cb991b393c5129a9',
       'b6e446a0e81a22ede72ba010065997e2432ccc6b1531e44540f4a5ebf57dd339',
       ...,
       'a8c518c4225ba61cd6d867187a32b7dffafe09808b29df541a6febd5aad8f0e6',
       '68b7cbe20c2aba00519618bb50bf0c87a50ac6a2ff4c4628c662d1e8a08d3816',
       'ee0f8ec80c62df061071bb9a1f7a3b8f3cc14f747b56feaff80f429b24019a0f'],
      dtype=object)

Select a specific profile

In [7]:
data = data[
    data["profile_id"]
    == "16878049202c47434cb7f130c7f990581f4c57e8de329cb0be111c9b974d50ed"
]

In [8]:
data

,date,profile_id,followers,posts,engagement,likes,comments,reach,impressions
0,2024-09-01,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
19971,2024-09-02,16878049202c47434cb7f130c7f990581f4c57e8de329c...,21448,1,21,21,0,128,140
39964,2024-09-03,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
60056,2024-09-04,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,1,21,21,0,128,140
79744,2024-09-05,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
461216,2024-12-27,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,1,17,17,0,311,342
478718,2024-12-28,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
496199,2024-12-29,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
513634,2024-12-30,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
531123,2024-12-31,16878049202c47434cb7f130c7f990581f4c57e8de329c...,21573,0,0,0,0,0,0

# Pre-processing

In [9]:
# sort the data by date
data = data.sort_values(by="date")

In [10]:
data[data["followers"] == "undefined"]

,date,profile_id,followers,posts,engagement,likes,comments,reach,impressions
0,2024-09-01,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
39964,2024-09-03,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
60056,2024-09-04,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,1,21,21,0,128,140
79744,2024-09-05,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
99548,2024-09-06,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
443639,2024-12-26,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,1,25,24,1,966,1063
461216,2024-12-27,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,1,17,17,0,311,342
478718,2024-12-28,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
496199,2024-12-29,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0
513634,2024-12-30,16878049202c47434cb7f130c7f990581f4c57e8de329c...,undefined,0,0,0,0,0,0

* Drop the `likes` and `comments` columns
* Replace `undefined` in followers as `NA` and drop `NA`

In [11]:
# Drop likes and comments as engagement is their sum
data = data.drop(columns=["likes", "comments"])

data.replace("undefined", np.nan, inplace=True)
# data.dropna(inplace=True)
# Ensure the followers column is numeric, converting non-convertible values to NaN
data["followers"] = pd.to_numeric(data["followers"], errors="coerce")

# Feature Engineering

## Monthly Average Engagement Per Post

Get the aggregated engagement for last month

In [12]:
data.reset_index(inplace=True)
# Convert 'date' to datetime format if not already and set it as the index
data["date"] = pd.to_datetime(data["date"])
data.set_index("date", inplace=True)

# Group by 'profile_id' and resample by month, calculating the median for the 'engagement' column only
monthly_engagement_median = (
    data.groupby("profile_id")[["engagement", "posts"]]
    .resample("M")
    .sum()
    .reset_index()
)

# Rename the median column for clarity
monthly_engagement_median.rename(
    columns={"engagement": "monthly_engagement_sum", "posts": "monthly_posts_sum"},
    inplace=True,
)

/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/130559482.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample("M")

In [13]:
monthly_engagement_median

,profile_id,date,monthly_engagement_sum,monthly_posts_sum
0,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-30,137,7
1,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-31,103,6
2,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-30,152,11
3,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-31,189,12

In [14]:
# Extract year and month from the date for merging
monthly_engagement_median["year"] = monthly_engagement_median["date"].dt.year
monthly_engagement_median["month"] = monthly_engagement_median["date"].dt.month

# Optionally, drop the original date column if it's no longer needed after extracting year and month
monthly_engagement_median.drop(columns=["date"], inplace=True)

# Data Transformation

* Aggregate the data by account and week, get the sum for each week
* Sort the data by each account and week

In [15]:
data.reset_index(inplace=True)

In [16]:
# Convert 'date' to datetime format and set it as the index
data["date"] = pd.to_datetime(data["date"])
data.set_index("date", inplace=True)

# Group by 'profile_id' and then resample by week and calculate the sum for each group
weekly_data_by_account = data.groupby("profile_id").resample("W").sum()

weekly_data_by_account.drop(columns=["profile_id"], inplace=True)

# Reset the index to make 'date' and 'profile_id' columns again
weekly_data_by_account.reset_index(inplace=True)

# Create a new column to indicate the week number from the 'date' column
weekly_data_by_account["week_of_year"] = (
    weekly_data_by_account["date"].dt.isocalendar().week
)

# Optional: Format the week as 'Year-Week'
weekly_data_by_account["year_week"] = weekly_data_by_account["date"].dt.strftime(
    "%Y-%U"
)

# Sort the data by 'profile_id' and 'year_week'
weekly_data_by_account.sort_values(
    by=["profile_id", "year_week"], ascending=[True, True], inplace=True
)

* Create the weekly engagement engagement per post

In [17]:
# convert "engagement" and "posts" to integer
weekly_data_by_account["engagement"] = weekly_data_by_account["engagement"].astype(int)
weekly_data_by_account["posts"] = weekly_data_by_account["posts"].astype(int)
# Calculate the engagegment per post if the post is not 0
weekly_data_by_account["engagement_per_post"] = (
    weekly_data_by_account["engagement"] / weekly_data_by_account["posts"]
)

In [18]:
weekly_data_by_account

,profile_id,date,index,followers,posts,engagement,reach,impressions,week_of_year,year_week,engagement_per_post
0,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-01,0,0.0,0,0,0,0,35,2024-35,NaN
1,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-08,558144,21448.0,2,42,256,280,36,2024-36,21.000000
2,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-15,1539376,21480.0,1,21,128,140,37,2024-37,21.000000
3,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-22,2522526,21499.0,1,24,712,783,38,2024-38,24.000000
4,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-29,3415766,21518.0,3,50,700,770,39,2024-39,16.666667
5,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-06,826265,21529.0,1,21,151,166,40,2024-40,21.000000
6,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-13,1128088,21539.0,1,16,146,161,41,2024-41,16.000000
7,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-20,2005530,21549.0,2,32,527,579,42,2024-42,16.000000
8,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-27,2882012,0.0,1,16,146,161,43,2024-43,16.000000
9,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-03,2093987,21541.0,1,18,270,297,44,2024-44,18.000000
10,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-10,750789,21551.0,3,42,407,448,45,2024-45,14.000000
11,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-17,1628119,21546.0,3,58,564,620,46,2024-46,19.333333
12,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-24,2504731,21540.0,2,14,128,140,47,2024-47,7.000000
13,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-01,2842985,21527.0,4,51,767,842,48,2024-48,12.750000
14,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-08,497922,21518.0,2,16,338,372,49,2024-49,8.000000
15,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-15,1366623,21518.0,2,41,524,576,50,2024-50,20.500000
16,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-22,2234167,0.0,4,53,1080,1188,51,2024-51,13.250000
17,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-29,3104838,21516.0,3,66,1621,1784,52,2024-52,22.000000
18,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2025-01-05,1044757,21573.0,0,0,0,0,1,2025-01,NaN

In [19]:
# Safely resetting the index without adding it back if it's already a column
weekly_data_by_account.reset_index(drop=True, inplace=True)

* Merge monthly average engagement per post

In [20]:
weekly_data_by_account["year"] = weekly_data_by_account["date"].dt.year
weekly_data_by_account["month"] = weekly_data_by_account["date"].dt.month

In [21]:
# Merge the monthly median engagement data with the original data
weekly_data_by_account = pd.merge(
    weekly_data_by_account,
    monthly_engagement_median,
    on=["profile_id", "year", "month"],
    how="left",
)

In [22]:
# Calculate the engagegment per post if the post is not 0
weekly_data_by_account["monthly_average_engagement_per_post"] = (
    weekly_data_by_account["monthly_engagement_sum"]
    / weekly_data_by_account["monthly_posts_sum"]
)

In [23]:
weekly_data_by_account

,profile_id,date,index,followers,posts,engagement,reach,impressions,week_of_year,year_week,engagement_per_post,year,month,monthly_engagement_sum,monthly_posts_sum,monthly_average_engagement_per_post
0,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-01,0,0.0,0,0,0,0,35,2024-35,NaN,2024,9,137.0,7.0,19.571429
1,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-08,558144,21448.0,2,42,256,280,36,2024-36,21.000000,2024,9,137.0,7.0,19.571429
2,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-15,1539376,21480.0,1,21,128,140,37,2024-37,21.000000,2024,9,137.0,7.0,19.571429
3,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-22,2522526,21499.0,1,24,712,783,38,2024-38,24.000000,2024,9,137.0,7.0,19.571429
4,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-29,3415766,21518.0,3,50,700,770,39,2024-39,16.666667,2024,9,137.0,7.0,19.571429
5,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-06,826265,21529.0,1,21,151,166,40,2024-40,21.000000,2024,10,103.0,6.0,17.166667
6,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-13,1128088,21539.0,1,16,146,161,41,2024-41,16.000000,2024,10,103.0,6.0,17.166667
7,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-20,2005530,21549.0,2,32,527,579,42,2024-42,16.000000,2024,10,103.0,6.0,17.166667
8,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-27,2882012,0.0,1,16,146,161,43,2024-43,16.000000,2024,10,103.0,6.0,17.166667
9,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-03,2093987,21541.0,1,18,270,297,44,2024-44,18.000000,2024,11,152.0,11.0,13.818182
10,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-10,750789,21551.0,3,42,407,448,45,2024-45,14.000000,2024,11,152.0,11.0,13.818182
11,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-17,1628119,21546.0,3,58,564,620,46,2024-46,19.333333,2024,11,152.0,11.0,13.818182
12,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-24,2504731,21540.0,2,14,128,140,47,2024-47,7.000000,2024,11,152.0,11.0,13.818182
13,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-01,2842985,21527.0,4,51,767,842,48,2024-48,12.750000,2024,12,189.0,12.0,15.750000
14,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-08,497922,21518.0,2,16,338,372,49,2024-49,8.000000,2024,12,189.0,12.0,15.750000
15,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-15,1366623,21518.0,2,41,524,576,50,2024-50,20.500000,2024,12,189.0,12.0,15.750000
16,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-22,2234167,0.0,4,53,1080,1188,51,2024-51,13.250000,2024,12,189.0,12.0,15.750000
17,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-29,3104838,21516.0,3,66,1621,1784,52,2024-52,22.000000,2024,12,189.0,12.0,15.750000
18,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2025-01-05,1044757,21573.0,0,0,0,0,1,2025-01,NaN,2025,1,NaN,NaN,NaN

In [24]:
weekly_data_by_account.drop(columns=["index"], inplace=True)
column_order = [
    "profile_id",
    "date",
    "year",
    "month",
    "week_of_year",
    "year_week",
    "followers",
    "posts",
    "engagement",
    "reach",
    "impressions",
    "engagement_per_post",
    "monthly_average_engagement_per_post",
]
weekly_data_by_account = weekly_data_by_account[column_order]
weekly_data_by_account

,profile_id,date,year,month,week_of_year,year_week,followers,posts,engagement,reach,impressions,engagement_per_post,monthly_average_engagement_per_post
0,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-01,2024,9,35,2024-35,0.0,0,0,0,0,NaN,19.571429
1,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-08,2024,9,36,2024-36,21448.0,2,42,256,280,21.000000,19.571429
2,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-15,2024,9,37,2024-37,21480.0,1,21,128,140,21.000000,19.571429
3,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-22,2024,9,38,2024-38,21499.0,1,24,712,783,24.000000,19.571429
4,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-29,2024,9,39,2024-39,21518.0,3,50,700,770,16.666667,19.571429
5,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-06,2024,10,40,2024-40,21529.0,1,21,151,166,21.000000,17.166667
6,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-13,2024,10,41,2024-41,21539.0,1,16,146,161,16.000000,17.166667
7,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-20,2024,10,42,2024-42,21549.0,2,32,527,579,16.000000,17.166667
8,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-27,2024,10,43,2024-43,0.0,1,16,146,161,16.000000,17.166667
9,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-03,2024,11,44,2024-44,21541.0,1,18,270,297,18.000000,13.818182
10,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-10,2024,11,45,2024-45,21551.0,3,42,407,448,14.000000,13.818182
11,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-17,2024,11,46,2024-46,21546.0,3,58,564,620,19.333333,13.818182
12,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-24,2024,11,47,2024-47,21540.0,2,14,128,140,7.000000,13.818182
13,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-01,2024,12,48,2024-48,21527.0,4,51,767,842,12.750000,15.750000
14,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-08,2024,12,49,2024-49,21518.0,2,16,338,372,8.000000,15.750000
15,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-15,2024,12,50,2024-50,21518.0,2,41,524,576,20.500000,15.750000
16,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-22,2024,12,51,2024-51,0.0,4,53,1080,1188,13.250000,15.750000
17,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-29,2024,12,52,2024-52,21516.0,3,66,1621,1784,22.000000,15.750000
18,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2025-01-05,2025,1,1,2025-01,21573.0,0,0,0,0,NaN,NaN

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [26]:
# save and copy weekly_data_by_account to new dataset named week_Data
week_Data = weekly_data_by_account.copy()

## Create lag features

In [27]:
# Define lags and relevant engagement-related columns
lags = [1, 2, 3, 4]
lag_features = ["engagement", "followers", "reach", "impressions"]

# Convert 'year_week' into separate numeric year and week for faster processing
weekly_data_by_account[["year", "week"]] = (
    weekly_data_by_account["year_week"].str.split("-", expand=True).astype(int)
)

# Create a shifted 'year_week' column for detecting consecutive weeks
weekly_data_by_account["prev_year_week"] = weekly_data_by_account.groupby("profile_id")[
    "year_week"
].shift(1)


# Function to check if the previous week is exactly lag weeks before
def is_exact_lag_vectorized(df, lag):
    prev_week = df.groupby("profile_id")["week"].shift(lag)
    prev_year = df.groupby("profile_id")["year"].shift(lag)

    # Adjust for year transition
    expected_week = df["week"] - lag
    expected_year = df["year"]

    # Handle cases where week becomes negative (previous year)
    expected_year[expected_week <= 0] -= 1
    expected_week[expected_week <= 0] += 52  # Assuming a 52-week year

    return (prev_year == expected_year) & (prev_week == expected_week)


# Create lag features with vectorized checks
for lag in lags:
    for feature in lag_features:
        if feature in weekly_data_by_account.columns:
            lag_col_name = f"{feature}_lag_{lag}"
            weekly_data_by_account[lag_col_name] = weekly_data_by_account.groupby(
                "profile_id"
            )[feature].shift(lag)

            # Set lag values to 0 if the previous week is not consecutive
            weekly_data_by_account.loc[
                ~is_exact_lag_vectorized(weekly_data_by_account, lag), lag_col_name
            ] = 0

/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekly_data_by_account[["year", "week"]] = (
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekly_data_by_account[["year", "week"]] = (
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1
/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/1740850290.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_year[expected_week <= 0] -= 1

In [28]:
# check weekly_data_by_account after creating the lag features
weekly_data_by_account

,profile_id,date,year,month,week_of_year,year_week,followers,posts,engagement,reach,...,reach_lag_2,impressions_lag_2,engagement_lag_3,followers_lag_3,reach_lag_3,impressions_lag_3,engagement_lag_4,followers_lag_4,reach_lag_4,impressions_lag_4
0,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-01,2024,9,35,2024-35,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-08,2024,9,36,2024-36,21448.0,2,42,256,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-15,2024,9,37,2024-37,21480.0,1,21,128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-22,2024,9,38,2024-38,21499.0,1,24,712,...,256.0,280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-29,2024,9,39,2024-39,21518.0,3,50,700,...,128.0,140.0,42.0,21448.0,256.0,280.0,0.0,0.0,0.0,0.0
5,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-06,2024,10,40,2024-40,21529.0,1,21,151,...,712.0,783.0,21.0,21480.0,128.0,140.0,42.0,21448.0,256.0,280.0
6,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-13,2024,10,41,2024-41,21539.0,1,16,146,...,700.0,770.0,24.0,21499.0,712.0,783.0,21.0,21480.0,128.0,140.0
7,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-20,2024,10,42,2024-42,21549.0,2,32,527,...,151.0,166.0,50.0,21518.0,700.0,770.0,24.0,21499.0,712.0,783.0
8,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-27,2024,10,43,2024-43,0.0,1,16,146,...,146.0,161.0,21.0,21529.0,151.0,166.0,50.0,21518.0,700.0,770.0
9,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-03,2024,11,44,2024-44,21541.0,1,18,270,...,527.0,579.0,16.0,21539.0,146.0,161.0,21.0,21529.0,151.0,166.0
10,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-10,2024,11,45,2024-45,21551.0,3,42,407,...,146.0,161.0,32.0,21549.0,527.0,579.0,16.0,21539.0,146.0,161.0
11,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-17,2024,11,46,2024-46,21546.0,3,58,564,...,270.0,297.0,16.0,0.0,146.0,161.0,32.0,21549.0,527.0,579.0
12,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-24,2024,11,47,2024-47,21540.0,2,14,128,...,407.0,448.0,18.0,21541.0,270.0,297.0,16.0,0.0,146.0,161.0
13,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-01,2024,12,48,2024-48,21527.0,4,51,767,...,564.0,620.0,42.0,21551.0,407.0,448.0,18.0,21541.0,270.0,297.0
14,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-08,2024,12,49,2024-49,21518.0,2,16,338,...,128.0,140.0,58.0,21546.0,564.0,620.0,42.0,21551.0,407.0,448.0
15,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-15,2024,12,50,2024-50,21518.0,2,41,524,...,767.0,842.0,14.0,21540.0,128.0,140.0,58.0,21546.0,564.0,620.0
16,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-22,2024,12,51,2024-51,0.0,4,53,1080,...,338.0,372.0,51.0,21527.0,767.0,842.0,14.0,21540.0,128.0,140.0
17,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-29,2024,12,52,2024-52,21516.0,3,66,1621,...,524.0,576.0,16.0,21518.0,338.0,372.0,51.0,21527.0,767.0,842.0
18,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2025-01-05,2009,1,1,2025-01,21573.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Ensure engagement column exists before creating future targets
if "engagement_per_post" in weekly_data_by_account.columns:
    weekly_data_by_account["engagement_future_7d"] = weekly_data_by_account.groupby(
        "profile_id"
    )["engagement_per_post"].shift(-1)
    weekly_data_by_account["engagement_future_14d"] = weekly_data_by_account.groupby(
        "profile_id"
    )["engagement_per_post"].shift(-2)
    weekly_data_by_account["engagement_future_21d"] = weekly_data_by_account.groupby(
        "profile_id"
    )["engagement_per_post"].shift(-3)
    weekly_data_by_account["engagement_future_28d"] = weekly_data_by_account.groupby(
        "profile_id"
    )["engagement_per_post"].shift(-4)
else:
    raise ValueError(
        "'engagement_per_post' column not found in dataset. Cannot create target variables."
    )

# Fill NaNs with 0 in the specified target columns
weekly_data_by_account.fillna(
    {
        "engagement_future_7d": 0,
        "engagement_future_14d": 0,
        "engagement_future_21d": 0,
        "engagement_future_28d": 0,
    },
    inplace=True,
)


# Select features and target
original_features = ["followers", "reach", "impressions", "engagement"]
additional_features = ["monthly_average_engagement_per_post"]
features = (
    [
        col
        for col in weekly_data_by_account.columns
        if col.startswith("engagement_lag")
        or col.startswith("followers_lag")
        or col.startswith("reach_lag")
        or col.startswith("impressions_lag")
        or col.startswith("likes_lag")
        or col.startswith("comments_lag")
    ]
    + original_features
    + additional_features
)

# Ensure selected features exist in the dataset
available_features = weekly_data_by_account.columns.tolist()
missing_features = [col for col in features if col not in available_features]
if missing_features:
    print(
        f"Warning: The following expected features are missing and will be removed: {missing_features}"
    )
    features = [col for col in features if col in available_features]

# Ensure target variable exists
if "engagement_future_7d" not in weekly_data_by_account.columns:
    raise ValueError("Target column 'engagement_future_7d' not found in dataset.")

# Prepare Prediction Data

In [30]:
weekly_data_by_account

,profile_id,date,year,month,week_of_year,year_week,followers,posts,engagement,reach,...,reach_lag_3,impressions_lag_3,engagement_lag_4,followers_lag_4,reach_lag_4,impressions_lag_4,engagement_future_7d,engagement_future_14d,engagement_future_21d,engagement_future_28d
0,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-01,2024,9,35,2024-35,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,21.000000,21.000000,24.000000,16.666667
1,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-08,2024,9,36,2024-36,21448.0,2,42,256,...,0.0,0.0,0.0,0.0,0.0,0.0,21.000000,24.000000,16.666667,21.000000
2,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-15,2024,9,37,2024-37,21480.0,1,21,128,...,0.0,0.0,0.0,0.0,0.0,0.0,24.000000,16.666667,21.000000,16.000000
3,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-22,2024,9,38,2024-38,21499.0,1,24,712,...,0.0,0.0,0.0,0.0,0.0,0.0,16.666667,21.000000,16.000000,16.000000
4,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-09-29,2024,9,39,2024-39,21518.0,3,50,700,...,256.0,280.0,0.0,0.0,0.0,0.0,21.000000,16.000000,16.000000,16.000000
5,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-06,2024,10,40,2024-40,21529.0,1,21,151,...,128.0,140.0,42.0,21448.0,256.0,280.0,16.000000,16.000000,16.000000,18.000000
6,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-13,2024,10,41,2024-41,21539.0,1,16,146,...,712.0,783.0,21.0,21480.0,128.0,140.0,16.000000,16.000000,18.000000,14.000000
7,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-20,2024,10,42,2024-42,21549.0,2,32,527,...,700.0,770.0,24.0,21499.0,712.0,783.0,16.000000,18.000000,14.000000,19.333333
8,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-10-27,2024,10,43,2024-43,0.0,1,16,146,...,151.0,166.0,50.0,21518.0,700.0,770.0,18.000000,14.000000,19.333333,7.000000
9,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-03,2024,11,44,2024-44,21541.0,1,18,270,...,146.0,161.0,21.0,21529.0,151.0,166.0,14.000000,19.333333,7.000000,12.750000
10,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-10,2024,11,45,2024-45,21551.0,3,42,407,...,527.0,579.0,16.0,21539.0,146.0,161.0,19.333333,7.000000,12.750000,8.000000
11,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-17,2024,11,46,2024-46,21546.0,3,58,564,...,146.0,161.0,32.0,21549.0,527.0,579.0,7.000000,12.750000,8.000000,20.500000
12,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-11-24,2024,11,47,2024-47,21540.0,2,14,128,...,270.0,297.0,16.0,0.0,146.0,161.0,12.750000,8.000000,20.500000,13.250000
13,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-01,2024,12,48,2024-48,21527.0,4,51,767,...,407.0,448.0,18.0,21541.0,270.0,297.0,8.000000,20.500000,13.250000,22.000000
14,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-08,2024,12,49,2024-49,21518.0,2,16,338,...,564.0,620.0,42.0,21551.0,407.0,448.0,20.500000,13.250000,22.000000,0.000000
15,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-15,2024,12,50,2024-50,21518.0,2,41,524,...,128.0,140.0,58.0,21546.0,564.0,620.0,13.250000,22.000000,0.000000,0.000000
16,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-22,2024,12,51,2024-51,0.0,4,53,1080,...,767.0,842.0,14.0,21540.0,128.0,140.0,22.000000,0.000000,0.000000,0.000000
17,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2024-12-29,2024,12,52,2024-52,21516.0,3,66,1621,...,338.0,372.0,51.0,21527.0,767.0,842.0,0.000000,0.000000,0.000000,0.000000
18,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2025-01-05,2009,1,1,2025-01,21573.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000

Get the latest row to make prediction

In [31]:
latest_date_row = weekly_data_by_account[
    weekly_data_by_account["date"] == weekly_data_by_account["date"].max()
]

In [32]:
latest_date_row

,profile_id,date,year,month,week_of_year,year_week,followers,posts,engagement,reach,...,reach_lag_3,impressions_lag_3,engagement_lag_4,followers_lag_4,reach_lag_4,impressions_lag_4,engagement_future_7d,engagement_future_14d,engagement_future_21d,engagement_future_28d
18,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2025-01-05,2009,1,1,2025-01,21573.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
# Define features and multiple target variables
X = latest_date_row[features]
y = latest_date_row[
    [
        "engagement_future_7d",
        "engagement_future_14d",
        "engagement_future_21d",
        "engagement_future_28d",
    ]
]  # Multiple targets

# Convert 'date' column to datetime format if not already
latest_date_row["date"] = pd.to_datetime(latest_date_row["date"])

# Split into training and testing sets based on the date
test_data = latest_date_row.copy()

# Extract X (features) and y (multiple targets) for train and test sets
X_test = test_data[features]

y_test = test_data[
    [
        "engagement_future_7d",
        "engagement_future_14d",
        "engagement_future_21d",
        "engagement_future_28d",
    ]
]

# Print shapes to verify
print(f"X_test shape: {X_test.shape}, y_test shape: {y_test.shape}")

X_test shape: (1, 21), y_test shape: (1, 4)

/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/3457482187.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest_date_row["date"] = pd.to_datetime(latest_date_row["date"])

## Scaling Features

Scale the features using the pretrained scalers from training dataset.

In [34]:
from sklearn.preprocessing import StandardScaler
import pickle

# Initialize scaler
scaler = StandardScaler()

# Scale only the feature data (X), NOT the target variables (y)
# Load the scaler
with open("models/scaler.pkl", "rb") as file:
    loaded_scaler = pickle.load(file)
X_test_scaled = loaded_scaler.transform(X_test)  # Apply same transformation to test set

# Convert back to DataFrame for easier handling
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns, index=X_test.index)

Fill with 0 if there's any missing value.

In [35]:
# fill the NaN values in the scaled test set with 0
X_test_scaled.fillna(0, inplace=True)
# fill the NaN values in the scaled test set with 0
X_test.fillna(0, inplace=True)

/var/folders/l6/k2cjxnr14xl8sm833561c2r80000gn/T/ipykernel_63618/3080690585.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.fillna(0, inplace=True)

# Modeling

In [36]:
print(X_test.isnull().sum())  # Check missing values in test data

engagement_lag_1                       0
followers_lag_1                        0
reach_lag_1                            0
impressions_lag_1                      0
engagement_lag_2                       0
followers_lag_2                        0
reach_lag_2                            0
impressions_lag_2                      0
engagement_lag_3                       0
followers_lag_3                        0
reach_lag_3                            0
impressions_lag_3                      0
engagement_lag_4                       0
followers_lag_4                        0
reach_lag_4                            0
impressions_lag_4                      0
followers                              0
reach                                  0
impressions                            0
engagement                             0
monthly_average_engagement_per_post    0
dtype: int64

In [37]:
# print(X_train.isnull().sum())
print(X_test_scaled.isnull().sum())

engagement_lag_1                       0
followers_lag_1                        0
reach_lag_1                            0
impressions_lag_1                      0
engagement_lag_2                       0
followers_lag_2                        0
reach_lag_2                            0
impressions_lag_2                      0
engagement_lag_3                       0
followers_lag_3                        0
reach_lag_3                            0
impressions_lag_3                      0
engagement_lag_4                       0
followers_lag_4                        0
reach_lag_4                            0
impressions_lag_4                      0
followers                              0
reach                                  0
impressions                            0
engagement                             0
monthly_average_engagement_per_post    0
dtype: int64

In [38]:
# print total number of rows in X_train and X_test
# print(X_train.shape)
print(X_test.shape)
print(X_test_scaled.shape)

(1, 21)
(1, 21)

## Import Models

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import joblib  # For saving models

In [40]:
import pickle
import os

targets = [
    "engagement_future_7d",
    "engagement_future_14d",
    "engagement_future_21d",
    "engagement_future_28d",
]

metrics = {}

# Path to the folder containing the models
models_folder_path = "models"

# Load all models from the folder
models = {}
for filename in os.listdir(models_folder_path):
    if filename.endswith(".pkl"):  # Ensure to load only pickle files
        model_path = os.path.join(models_folder_path, filename)
        with open(model_path, "rb") as file:
            # The key for the model is set as the filename without the extension
            loaded_object = pickle.load(file)
            models[filename[:-4]] = loaded_object
            print(f"Loaded {filename}: Type = {type(loaded_object)}")


models.pop("scaler", None)  # Remove scaler if present

# Make predictions with each model
predictions = {}
for model_name, model in models.items():
    predictions[model_name] = model.predict(X_test)

# print(predictions)
print(models)

Loaded scaler.pkl: Type = <class 'sklearn.preprocessing._data.StandardScaler'>
Loaded engagement_future_14d_model.pkl: Type = <class 'sklearn.linear_model._base.LinearRegression'>
Loaded engagement_future_21d_model.pkl: Type = <class 'sklearn.linear_model._base.LinearRegression'>
Loaded engagement_future_7d_model.pkl: Type = <class 'sklearn.linear_model._base.LinearRegression'>
Loaded engagement_future_28d_model.pkl: Type = <class 'sklearn.linear_model._base.LinearRegression'>
{'engagement_future_14d_model': LinearRegression(), 'engagement_future_21d_model': LinearRegression(), 'engagement_future_7d_model': LinearRegression(), 'engagement_future_28d_model': LinearRegression()}

## Make Predictions

In [41]:
# Dictionary to store predictions
predictions = {}

# Evaluate each model
for target in targets:
    model_name = f"{target}_model"
    model = models[model_name]

    # Make predictions
    y_pred = model.predict(X_test)
    # y_pred = model.predict(X_test_scaled)
    predictions[target] = y_pred  # Store predictions

    # Calculate evaluation metrics
    mae = mean_absolute_error(y_test[target], y_pred)
    mse = mean_squared_error(y_test[target], y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test[target], y_pred)

    # Store metrics
    metrics[target] = {"MAE": mae, "MSE": mse, "RMSE": rmse, "RÂ²": r2}

    # Print results
    print(f"\nEvaluation for {target}:")
    print(f"MAE: {mae:.4f}")
    print(f"MSE: {mse:.4f}")
    print(f"RMSE: {rmse:.4f}")
    print(f"RÂ²: {r2:.4f}")

print("\nAll predictions and evaluations completed.")

Evaluation for engagement_future_7d:
MAE: 86.8742
MSE: 7547.1246
RMSE: 86.8742
RÂ²: nan

Evaluation for engagement_future_14d:
MAE: 114.0084
MSE: 12997.9224
RMSE: 114.0084
RÂ²: nan

Evaluation for engagement_future_21d:
MAE: 83.2134
MSE: 6924.4754
RMSE: 83.2134
RÂ²: nan

Evaluation for engagement_future_28d:
MAE: 155.2819
MSE: 24112.4812
RMSE: 155.2819
RÂ²: nan

All predictions and evaluations completed.

/Users/anniewu/miniconda3/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Users/anniewu/miniconda3/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Users/anniewu/miniconda3/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Users/anniewu/miniconda3/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Convert predictions into dataframe.

In [42]:
predictions_df = pd.DataFrame(predictions)
# modify the column name to have the prefix "predicted_"
predictions_df.columns = [f"predicted_{col}" for col in predictions_df.columns]
# Replace any value less than 0 with 0 across the DataFrame
predictions_df = predictions_df.clip(lower=0)
predictions_df

,predicted_engagement_future_7d,predicted_engagement_future_14d,predicted_engagement_future_21d,predicted_engagement_future_28d
0,86.874189,114.008431,83.213433,155.281941

In [43]:
# Concatenate back with the original data with more information
predictions_df.index = latest_date_row.index
final_data = pd.concat([latest_date_row, predictions_df], axis=1)
final_data

,profile_id,date,year,month,week_of_year,year_week,followers,posts,engagement,reach,...,reach_lag_4,impressions_lag_4,engagement_future_7d,engagement_future_14d,engagement_future_21d,engagement_future_28d,predicted_engagement_future_7d,predicted_engagement_future_14d,predicted_engagement_future_21d,predicted_engagement_future_28d
18,16878049202c47434cb7f130c7f990581f4c57e8de329c...,2025-01-05,2009,1,1,2025-01,21573.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,86.874189,114.008431,83.213433,155.281941

In [44]:
# find the latest data
latest_data = final_data[final_data["date"] == final_data["date"].max()]
# only inlucde the predictions
latest_data = latest_data[
    [
        "date",
        "predicted_engagement_future_7d",
        "predicted_engagement_future_14d",
        "predicted_engagement_future_21d",
        "predicted_engagement_future_28d",
    ]
]
latest_data

,date,predicted_engagement_future_7d,predicted_engagement_future_14d,predicted_engagement_future_21d,predicted_engagement_future_28d
18,2025-01-05,86.874189,114.008431,83.213433,155.281941

In [45]:
# Convert table from columns to rows
latest_data_melted = latest_data.melt(
    id_vars=["date"],
    value_vars=[
        "predicted_engagement_future_7d",
        "predicted_engagement_future_14d",
        "predicted_engagement_future_21d",
        "predicted_engagement_future_28d",
    ],
    var_name="future_period",
    value_name="predicted_engagement",
)
latest_data_melted

        date                    future_period  predicted_engagement
0 2025-01-05   predicted_engagement_future_7d             86.874189
1 2025-01-05  predicted_engagement_future_14d            114.008431
2 2025-01-05  predicted_engagement_future_21d             83.213433
3 2025-01-05  predicted_engagement_future_28d            155.281941

In [46]:
# add a column in the latest_data_melted to show the date of the prediction
# extract the number from the "future_period" column
latest_data_melted["days_ahead"] = (
    latest_data_melted["future_period"].str.extract("(\d+)").astype(int)
)
# add the date of the prediction
latest_data_melted["date"] = pd.to_datetime(latest_data_melted["date"])
# add the date of the prediction
latest_data_melted["prediction_date"] = latest_data_melted["date"] + pd.to_timedelta(
    latest_data_melted["days_ahead"], unit="d"
)
# drop the "days_ahead" column
latest_data_melted.drop(columns=["days_ahead"], inplace=True)
# latest_data_melted["prediction_date"] = latest_data_melted["date"].max()
latest_data_melted

,date,future_period,predicted_engagement,prediction_date
0,2025-01-05,predicted_engagement_future_7d,86.874189,2025-01-12
1,2025-01-05,predicted_engagement_future_14d,114.008431,2025-01-19
2,2025-01-05,predicted_engagement_future_21d,83.213433,2025-01-26
3,2025-01-05,predicted_engagement_future_28d,155.281941,2025-02-02